<div class="topnav">
<a href="/patients/<%=@user.id%>">Return to Profile (<em>Changes will not be saved<em>) </a>
</div>

<h1>Please Update Profile Using Fields Below.</h1>

<form method="POST" action="/patients/<%=@user.id%>">
    
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <!-- PATIENT - FIRST NAME -->
    <p><label for="first_name">First Name:</label>
    <input type="text" "id=first_name" name="first_name" value="<%=@user.first_name%>"></p>

    <!-- PATIENT - LAST NAME -->
    <p><label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" value="<%=@user.last_name%>"></p>

    <!-- PATIENT - EMAIL -->
    <p><label for="email">Email:</label>
    <input type="text" id="email" name="email" value="<%=@user.email%>"></p>

    <!-- PATIENT - OCCUPATION -->
    <p><label for="occupation">What do you do for work?:</label>
    <input type="text" id="occupation" name="occupation" value="<%=@user.occupation%>"></p>

    <!-- PATIENT - MARITAL STATUS -->
    <p><label for="marital_status">Specialty:</label>
    <input type="text" id="marital_status" name="marital_status" value="<%=@user.marital_status%>"></p>

    <!-- PATIENT - BIRTHDAY -->
    <p><label for="birthday">Birthday:</label>
    <input type="text" id="birthday" name="birthday" value="<%=@user.birthday%>"></p>

    <input type="submit" value="Update">
</form>

