<div class="topnav">
<a class="active" href="#home">News</a>
<a href="/patients/<%=@user.id%>/edit">Edit Profile</a>
<a href="/logout">Log Out</a>
</div>
<br>
<h3>Welcome to Your Patient Profile, <%=@user.last_name%>.</h3>
<img src= "https://unsplash.it/150/150?image=786"/> 
<p><h6>Name: <%=@user.first_name%> <%=@user.last_name%><h6><p>
<p><h6>Email: <%=@user.email%><h6><p>
<p><h6>Doctor: Dr. <%=@user.doctor.first_name%> <%=@user.doctor.last_name%><h6><p>


<p><h6>Appointments:<h6><p>

