<h1>Insert the form to edit an instance of your model here.</h1>

<form method="POST" action="/doctors/<%=@user.id%>">
    
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <p><label for="first_name">First Name:</label>
    <input type="text" "id=first_name" name="first_name" placeholder="<%=@user.first_name%>"></p>
 
    <p><label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" placeholder="<%=@user.last_name%>"></p>

    <p><label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="<%=@user.email%>"></p>

    <p><label for="password">Password:</label>
    <input type="text" id="password" name="password" placeholder="Optional"></p>

    <p><label for="bio">Tell Us About Yourself:</label>
    <input type="text" id="bio" name="bio" placeholder="<%=@user.bio%>"></p>

    <p><label for="specialty">Specialty:</label>
    <input type="text" id="specialty" name="specialty" placeholder="<%=@user.specialty%>"></p>

    <p><label for="residency">Residency:</label>
    <input type="text" id="residency" name="residency" placeholder="<%=@user.residency%>"></p>

    <p><label for="graduation_date">Graduation Date:</label>
    <input type="text" id="graduation_date" name="graduation_date" placeholder="<%=@user.graduation_date%>"></p>

    <input type="submit" value="Update">
</form>