  <div class="topnav">
    <a href="/doctors/<%=@user.id%>/edit">Edit Profile</a>
    <a href="/logout">Log Out</a>
    <a href="/doctors/<%=@user.id%>/delete">Delete Profile</a>
  </div>

  <br>

  <h3>Welcome to Your Profile Doctor <%=@user.last_name%>.</h3>
    <!-- PLACEHOLDER IMAGE - ENABLE REPSONSIVE IMAGES BY CREATING A COL FOR IMG SRC AND LOADING THAT USING @USER.IMG_SRC (EXAMPLE - TRY TO IMPLEMENT LATE) -->
    <img src= "https://unsplash.it/150/150?image=786"/> 
    <p>Name: <%=@user.first_name%> <%=@user.last_name%><p>
    <p>Email: <%=@user.email%><p>
    <p>Biography: <%=@user.bio%></p>

  <h3>Patient Management</h3>
      <%@patients.each do |patient|%>
        <ul> 
          <li><%="â˜ #{patient.first_name} #{patient.last_name}"%>
          <a href="/doctors/patient/<%=patient.id%>">See Patient Profile</a>
          |
          <a href="/doctors/patient/<%=patient.id%>/delete">Delete Patient</a>
          </li>
        </ul>
        <br>
      <%end%>













