  <div class="topnav">
    <a href="/doctors/<%=@user.id%>/edit">Edit Profile</a>
    <a href="/logout">Log Out</a>
  </div>
  <br>
  <h3>Welcome to Your Profile Doctor <%=@user.last_name%>.</h3>
  <img src= "https://unsplash.it/150/150?image=786"/> 
  <p><h6>Name: <%=@user.first_name%> <%=@user.last_name%><h6><p>
  <p><h6>Email: <%=@user.email%><h6><p>
  <p><%=@user.bio%></p>

  <h3>Patient Management</h3>
  <p> <%@patients.each do |patient|%>
        <%="#{patient.first_name} #{patient.last_name}"%>
        <a href="/doctors/patients/<%=patient.id%>">See Patient Profile</a>
      <%end%>
  </p>












