<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">Patients</a>
  <a href="/doctors/<%=@user.id%>/edit">Edit Profile</a>
</div>
<br>
<h3>Welcome to Your Profile Doctor <%=@user.last_name%>.</h3>
<img src= "https://unsplash.it/150/150?image=786"/> #figure out profile photo with upload later
<p><h6>Name: <%=@user.first_name%> <%=@user.last_name%><h6><p>
<p><h6>Email: <%=@user.email%><h6><p>
<p><h6>Patients:<h6><p>







